.forgotPasswordContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
  }
  
  .forgotPasswordWrapper {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .forgotPasswordWrapper h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .forgotPasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .inputWrapper {
    margin-bottom: 15px;
    width: 100%;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:disabled {
    background-color: #ccc;
  }
  
  .errorMessage {
    color: red;
    margin-bottom: 10px;
  }
  
  .redirectLink {
    color: #007bff;
    cursor: pointer;
  }
  
  .redirectLink:hover {
    text-decoration: underline;
  }
  